/* POLITIKEN */
@-moz-document domain(politiken.dk) {
  body {backgrounds-color:white !important; background-image:none !important;}
  #rightBanner, #leftBanner, #topMenu {display:none;}
  object {visibility:hidden;}
}

/* BERLINGSKE */
@-moz-document domain(berlingske.dk) {
  body {backgrounds-color:white !important; background-image:none !important;}
  #vinkel_banner, #top-banner, .page {display:none;}
  object {visibility:hidden;}
}

/* BT */
@-moz-document domain(bt.dk) {
  body {backgrounds-color:white !important; background-image:none !important;}
  #top_banner, #vinkel_banner, #toppartnermenu {display:none;}
  object {visibility:hidden;}
}


/* EB */
@-moz-document domain(ekstrabladet.dk) {
  body {backgrounds-color:white !important; background-image:none !important;}
  .xmain-head, #vinkelbanner {display:none;}
  object {visibility:hidden;}
}


/* JP */
@-moz-document domain(jp.dk) {
  body {backgrounds-color:white !important; background-image:none !important;}
  #dspPageTop, #dspPageBanner_vinkel, #topMenu {display:none;}
  object {visibility:hidden;}
}
